<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.egmail.anthony.powell.roll_call_2">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_rollcall_icon"
        android:label="@string/app_name"
        android:theme="@style/MyAppBar">
        <activity
            android:name="com.egmail.anthony.powell.roll_call_2.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.egmail.anthony.powell.roll_call_2.StudentReg"
            android:label="@string/title_activity_student_reg"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name=".StudentReg" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.egmail.anthony.powell.roll_call_2.CourseSelectionScreen"
            android:label="@string/title_activity_course_selection_screen"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name=".CourseSelectionScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value=".StudentReg" />-->
        </activity>

        <activity
            android:name="com.egmail.anthony.powell.roll_call_2.SignIn"
            android:label="SignIn"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name=".SignIn" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egmail.anthony.powell.roll_call_2.CourseSelectionScreen" />
        </activity>
        <activity
            android:name="com.egmail.anthony.powell.roll_call_2.Proxy"
            android:label="Proxy"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name=".Proxy" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.egmail.anthony.powell.roll_call_2.SignIn" />
        </activity>


    </application>

</manifest>
